{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if not request.user.is_authenticated %}
<div class="row">
    <div class="col-sm-6">
        <div class="login-right">
            <div class="">
                <h3>Login</h3>
                <div class="login-top">
                <ul class="login-icons">
                    <li><a href="/accounts/linkedin_oauth2/login/?process=login" ><i class="linkedin"> </i><span>Linkedin</span></a></li>
                    <li><a href="/accounts/google/login/?process=login" class="go"><i class="google"></i><span>Google +</span></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="">
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Login</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Register</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                       <form action="{% url 'account_login' %}" method="post">{% csrf_token %}
                            <div class="form-info">
                                    <input id="id-login" type="text" class="text-input textInput form-control" name="login" placeholder="Username">
                                    <input id="id-password" type="password" class="text-input textInput form-control" name="password" placeholder="Password">
                                <label class="hvr-sweep-to-right">
                                    <input class="create btn"  type="submit" value="Submit">
                                </label>
                                <p><a href="{% url 'account_reset_password' %}">Forgot Your Password?</a></p>
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <form action="{% url 'account_signup' %}" method="post">{% csrf_token %}
                          <div class="form-info">
                           <input id="id-username" type="text" class="text-input textInput form-control" name="username" placeholder="Username">
                           <input id="id_password1" name="password1" class="text-input textInput form-control" placeholder="Password" type="password">
                           <input id="id_password2" name="password2" class="text-input textInput form-control" placeholder="Password (again)" type="password">
                          <label class="hvr-sweep-to-right">
                             <input id="register" class="create btn"  type="submit" value="Submit">
                           </label>
                          </div>
                        </form>

                    <div class="clearfix"> </div>
                    </div>
                  </div>
                </div>


                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="front-image">
            <img src="{% static 'img/frnd1.jpg' %}" class="img-responsive"/>
        </div>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col-sm-6">
    <br/><br/><br/><br/><br/><br/><br/><br/>

       <a href="{% url 'contact_list' %}" class="btn btn-primary">Contact List</a><br/><br/>
       <a href="{% url 'contact_create' %}" class="btn btn-primary">Add Contact</a><br/><br/>
       <a href="{% url 'meeting_list' %}" class="btn btn-primary">Meeting List</a><br/><br/>
       <a href="{% url 'meeting_create' %}" class="btn btn-primary">Add Meeting</a>
    </div>
    <div class="col-sm-6">
        <div class="front-image">
            <img src="{% static 'img/frnd1.jpg' %}" class="img-responsive"/>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}